.p_slider
  .p_slider__item
    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/iwatch1.png'}
  .p_slider__item
    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/iwatch2.png'}
  .p_slider__item
    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/iwatch3.png'}
.controls
  .left
    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/arrow.png'}
  .right
    %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/arrow.png'}